### Tuples

In [9]:
#declaration

tup=(10,20,30,40)
print(type(tup), tup)

tup2=(19.23, 56.2,10.3,19.2)
print(type(tup2), tup2)

mixed_tup=(10,10.5,"Mukti", True)
print(mixed_tup)

tup1=tuple({10})
# print(type(tup1), tup1)

list=[10,20,30]
tup1=tuple(list)
print(type(tup1), tup1)

<class 'tuple'> (10, 20, 30, 40)
<class 'tuple'> (19.23, 56.2, 10.3, 19.2)
(10, 10.5, 'Mukti', True)
<class 'tuple'> (10, 20, 30)

In [12]:
#access

tup=(10,20,30,10.5,"str",False)
#access using index
print(tup[3])

#slicing
new_tup=tup[0:3] 
print(new_tup)

10.5
(10, 20, 30)

In [15]:
#immutability
lst=[10,20,30,40]
lst.append(60) # add 60 in last position
lst[1]=100
print(lst)


#tuple-> immutable(not change)
tup=(10,20,30,40)
tup[1]=100
print(tup)

[10, 100, 30, 40, 60]

TypeError: 'tuple' object does not support item assignment

In [17]:
#tuple method ->count & index
tup=(10,20,30,40,10,20,30)
print(tup.count(10))
print(tup.index(40))

2
3

## Set

In [18]:
A={1,2,3}
print(type(A), A)

<class 'set'> {1, 2, 3}

In [25]:
##Empty Structure

b=[]
print(type(b))

c=()
print(type(c))

s={}
print(type(s))

S=set()
print(type(S))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [31]:
s={1,2,3,4,1,2}
if (3 in s):
    print("3 in present")
else:
    print("Not present")


sum=0
for elements in s:
    sum+=elements

print(sum)

3 in present
10

In [37]:
s={5,1,2,4,3} 
print(s)
s.add(10)
print(s)
s.add(0)
print(s)

s.pop() #delete value from 1st,2nd....so on
s.pop()
print(s)

s.remove(4)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 10}
{0, 1, 2, 3, 4, 5, 10}
{2, 3, 4, 5, 10}
{2, 3, 5, 10}

## Methods of set- Mathematical

In [42]:
a={1,2,3}
b={1,2,3,4,5,6}
print(a.union(b))

print(a.intersection(b))

print(a.isdisjoint(b))

print(a.issubset(b))

{1, 2, 3, 4, 5, 6}
{1, 2, 3}
False
True

## dictionary in Python

In [45]:
dic={}
print(type(dic))

dic={ "name" : "Mukti" , "age" : 22, "address" : "Dhaka" , "numbers" :{10,20,30}}
print(type(dic), dic)

<class 'dict'>
<class 'dict'> {'name': 'Mukti', 'age': 22, 'address': 'Dhaka', 'numbers': {10, 20, 30}}

In [53]:
##access
#dic_name[key]
print(dic["name"],dic["numbers"])
print(dic.get("age"))

dic["name"]="Maria"
print(dic)

dic={ "name" : "Mukti" , "age" : 22, "address" : "Dhaka" , "numbers" :{10,20,30},"age": 30}
print(dic)

Mukti {10, 20, 30}
22
{'name': 'Maria', 'age': 22, 'address': 'Dhaka', 'numbers': {10, 20, 30}}
{'name': 'Mukti', 'age': 30, 'address': 'Dhaka', 'numbers': {10, 20, 30}}

In [4]:
dic={ "name" : "Mukti" , "age" : 22, "address" : "Dhaka" , "numbers" :{10,20,30},"age": 30}
print(dic)

print(dic.get("math_marks"))
print(dic.get("math_marks", 0))

{'name': 'Mukti', 'age': 30, 'address': 'Dhaka', 'numbers': {10, 20, 30}}
None
0

In [6]:
dic={ "name" : "Mukti" , "age" : 22, "address" : "Dhaka" , "numbers" :{10,20,30},"age": 30}
print(dic)
#add a value
dic["math_marks"]=30
print(dic)

dic.update({"english_marks":40})
print(dic)

{'name': 'Mukti', 'age': 30, 'address': 'Dhaka', 'numbers': {10, 20, 30}}
{'name': 'Mukti', 'age': 30, 'address': 'Dhaka', 'numbers': {10, 20, 30}, 'math_marks': 30}
{'name': 'Mukti', 'age': 30, 'address': 'Dhaka', 'numbers': {10, 20, 30}, 'math_marks': 30, 'english_marks': 40}

In [7]:
#deleteing

del dic["math_marks"]
print(dic)

{'name': 'Mukti', 'age': 30, 'address': 'Dhaka', 'numbers': {10, 20, 30}, 'english_marks': 40}

In [9]:
#Copy
dic_2=dic.copy()
print(dic_2)

{'name': 'Mukti', 'age': 30, 'address': 'Dhaka', 'numbers': {10, 20, 30}, 'english_marks': 40}

In [13]:
#testing

dis_3={[10,20,30] : "a"}
print(dic_3)

dic_4={ "key" : { "name" : "mukti" , "age" : 22}}
print(dic_4)  #output: {'key': {'name': 'mukti', 'age': 22}}

TypeError: unhashable type: 'list'

## dictionary View methods-> change in real time

In [20]:
dic={ "name" : "Mukti" , "age" : 22, "address" : "Dhaka" , "numbers" :{10,20,30},"age": 30}
print(dic)

#key
keys=dic.keys()
print(keys)

dic["math_marks"]=30
print(keys)


#value
values= dic.values()
print(values)

dic["math_marks"]=40
print(values)

#items
items=dic.items()
print(items)

{'name': 'Mukti', 'age': 30, 'address': 'Dhaka', 'numbers': {10, 20, 30}}
dict_keys(['name', 'age', 'address', 'numbers'])
dict_keys(['name', 'age', 'address', 'numbers', 'math_marks'])
dict_values(['Mukti', 30, 'Dhaka', {10, 20, 30}, 30])
dict_values(['Mukti', 30, 'Dhaka', {10, 20, 30}, 40])
dict_items([('name', 'Mukti'), ('age', 30), ('address', 'Dhaka'), ('numbers', {10, 20, 30}), ('math_marks', 40)])

In [21]:
#iteration
for key, value in dic.items():
    print(key,value)

name Mukti
age 30
address Dhaka
numbers {10, 20, 30}
math_marks 40

## Dictionary comprehension

In [24]:
print(type(range(1,10)))

print(list(range(1,10))) #[1, 2, 3, 4, 5, 6, 7, 8, 9]

<class 'range'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
square={x:x**2 for x in range(1,11)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [32]:
co_ordinates = [(10,10.5),(20.5,192) , ( 101,102) ]
locations =["dhaka" , "chattogram" , "sylhet"]

exact_location = {co_or : loc for co_or, loc in zip(co_ordinates,locations)}

print(exact_location)

{(10, 10.5): 'dhaka', (20.5, 192): 'chattogram', (101, 102): 'sylhet'}

## Problem solve with In Built Structures


1. Given a list of numbers, make a list with unique values.

In [35]:
lst = [10 , 20 , 10 , 30 , 30 , 50 , 30 , 10 , 20 , 10 , 10 ]

unique_value= set(lst)
print(unique_value)

{10, 20, 50, 30}


2. Given a string , print the frequency of the words

In [37]:
string = """data science machine learning data analysis machine 
learning statistics data models data training data validation features
features labels preprocessing data augmentation models data optimization 
gradient descent neural networks data tensors matrices visualization 
exploration pandas numpy matplotlib seaborn scikitlearn tensorflow pytorch 
deployment inference production monitoring reproducibility experiments results 
metrics accuracy precision recall f1 cross validation data machine
"""
words = string.split()
#print(type(words)) #List
count = {} 

for word in words:
    count[word]= count.get(word,0) +1  

for k,v in count.items():
    print(f"count of {k} is {v}")

<class 'list'>
count of data is 9
count of science is 1
count of machine is 3
count of learning is 2
count of analysis is 1
count of statistics is 1
count of models is 2
count of training is 1
count of validation is 2
count of features is 2
count of labels is 1
count of preprocessing is 1
count of augmentation is 1
count of optimization is 1
count of gradient is 1
count of descent is 1
count of neural is 1
count of networks is 1
count of tensors is 1
count of matrices is 1
count of visualization is 1
count of exploration is 1
count of pandas is 1
count of numpy is 1
count of matplotlib is 1
count of seaborn is 1
count of scikitlearn is 1
count of tensorflow is 1
count of pytorch is 1
count of deployment is 1
count of inference is 1
count of production is 1
count of monitoring is 1
count of reproducibility is 1
count of experiments is 1
count of results is 1
count of metrics is 1
count of accuracy is 1
count of precision is 1
count of recall is 1
count of f1 is 1
count of cross is 1