In [94]:
import pandas as pd

df= pd.read_csv("D:\Phitron AI_ML\python\student_data (2).csv")
print(df)

   StudentID          FullName  ...  Instructor    Location
0     PH1001       Alif Rahman  ...   Mr. Karim       Dhaka
1     PH1002     Fatima Akhter  ...   Ms. Salma  Chattogram
2     PH1003     Imran Hossain  ...   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram
5     PH1006       Laila Begum  ...   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan  ...   Mr. Karim       Dhaka
7     PH1008       Nadia Islam  ...   Ms. Salma  Chattogram
8     PH1009        Omar Faruq  ...   Mr. David       Dhaka
9     PH1010      Priya Sharma  ...   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh  ...   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury  ...   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed  ...   Mr. David       Dhaka
13    PH1014        Urmi Akter  ...   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman  ...   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman  ...   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi  ...   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed  ...   Ms. Salma      Sylhet
18    PH1019      Faria Rahman  ...   Mr. David  Chattogram
19    PH1020        Nasir Khan  ...   Ms. Salma       Dhaka
20       NaN               NaN  ...         NaN         NaN

[21 rows x 9 columns]

In [95]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [96]:
student_ID= df['StudentID']
print(student_ID)
print(type(student_ID))

0     PH1001
1     PH1002
2     PH1003
3     PH1004
4     PH1005
5     PH1006
6     PH1007
7     PH1008
8     PH1009
9     PH1010
10    PH1011
11    PH1012
12    PH1013
13    PH1014
14    PH1015
15    PH1016
16    PH1017
17    PH1018
18    PH1019
19    PH1020
20       NaN
Name: StudentID, dtype: object
<class 'pandas.core.series.Series'>

## Different File Loading in Pandas

In [97]:
#csv file

csv_data= pd.read_csv("D:\Phitron AI_ML\python\student_data (2).csv")
print(csv_data)
print(type(csv_data))

   StudentID          FullName  ...  Instructor    Location
0     PH1001       Alif Rahman  ...   Mr. Karim       Dhaka
1     PH1002     Fatima Akhter  ...   Ms. Salma  Chattogram
2     PH1003     Imran Hossain  ...   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram
5     PH1006       Laila Begum  ...   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan  ...   Mr. Karim       Dhaka
7     PH1008       Nadia Islam  ...   Ms. Salma  Chattogram
8     PH1009        Omar Faruq  ...   Mr. David       Dhaka
9     PH1010      Priya Sharma  ...   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh  ...   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury  ...   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed  ...   Mr. David       Dhaka
13    PH1014        Urmi Akter  ...   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman  ...   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman  ...   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi  ...   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed  ...   Ms. Salma      Sylhet
18    PH1019      Faria Rahman  ...   Mr. David  Chattogram
19    PH1020        Nasir Khan  ...   Ms. Salma       Dhaka
20       NaN               NaN  ...         NaN         NaN

[21 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>

In [98]:
#excel file

excel_file= pd.read_excel("D:\Phitron AI_ML\python\Student_Info.xlsx")
print(excel_file)
print(type(excel_file))

   StudentID          FullName Instructor    Location
0     PH1001       Alif Rahman  Mr. Karim       Dhaka
1     PH1002     Fatima Akhter  Ms. Salma  Chattogram
2     PH1003     Imran Hossain  Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous  Ms. Salma      Sylhet
4     PH1005       Kamal Uddin  Mr. Karim  Chattogram
5     PH1006       Laila Begum  Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan  Mr. Karim       Dhaka
7     PH1008       Nadia Islam  Ms. Salma  Chattogram
8     PH1009        Omar Faruq  Mr. David       Dhaka
9     PH1010      Priya Sharma  Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh  Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury  Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed  Mr. David       Dhaka
13    PH1014        Urmi Akter  Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman  Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman  Ms. Salma  Chattogram
16    PH1017       Afsana Mimi  Mr. Karim       Dhaka
17    PH1018       Babul Ahmed  Ms. Salma      Sylhet
18    PH1019      Faria Rahman  Mr. David  Chattogram
19    PH1020        Nasir Khan  Ms. Salma       Dhaka
<class 'pandas.core.frame.DataFrame'>

In [99]:
import pandas as pd

# Student Data
data = {
    "StudentID": [
        "PH1001", "PH1002", "PH1003", "PH1004", "PH1005",
        "PH1006", "PH1007", "PH1008", "PH1009", "PH1010",
        "PH1011", "PH1012", "PH1013", "PH1014", "PH1015",
        "PH1016", "PH1017", "PH1018", "PH1019", "PH1020"
    ],
    "FullName": [
        "Alif Rahman", "Fatima Akhter", "Imran Hossain", "Jannatul Ferdous", "Kamal Uddin",
        "Laila Begum", "Mahmudul Hasan", "Nadia Islam", "Omar Faruq", "Priya Sharma",
        "Rahim Sheikh", "Sadia Chowdhury", "Tanvir Ahmed", "Urmi Akter", "Wahiduzzaman",
        "Ziaur Rahman", "Afsana Mimi", "Babul Ahmed", "Faria Rahman", "Nasir Khan"
    ],
    "Instructor": [
        "Mr. Karim", "Ms. Salma", "Mr. Karim", "Ms. Salma", "Mr. Karim",
        "Ms. Salma", "Mr. Karim", "Ms. Salma", "Mr. David", "Ms. Salma",
        "Mr. Karim", "Ms. Salma", "Mr. David", "Ms. Salma", "Mr. Karim",
        "Ms. Salma", "Mr. Karim", "Ms. Salma", "Mr. David", "Ms. Salma"
    ],
    "Location": [
        "Dhaka", "Chattogram", "Dhaka", "Sylhet", "Chattogram",
        "Rajshahi", "Dhaka", "Chattogram", "Dhaka", "Sylhet",
        "Khulna", "Chattogram", "Dhaka", "Rajshahi", "Dhaka",
        "Chattogram", "Dhaka", "Sylhet", "Chattogram", "Dhaka"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Save as Parquet (pyarrow engine required)
df.to_parquet("Student_Info.parquet", index=False, engine='pyarrow')

print("Parquet file created: Student_Info.parquet")

Parquet file created: Student_Info.parquet

In [100]:
parquet_file = pd.read_parquet("Student_Info.parquet", engine='pyarrow')
print(parquet_file)

   StudentID          FullName Instructor    Location
0     PH1001       Alif Rahman  Mr. Karim       Dhaka
1     PH1002     Fatima Akhter  Ms. Salma  Chattogram
2     PH1003     Imran Hossain  Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous  Ms. Salma      Sylhet
4     PH1005       Kamal Uddin  Mr. Karim  Chattogram
5     PH1006       Laila Begum  Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan  Mr. Karim       Dhaka
7     PH1008       Nadia Islam  Ms. Salma  Chattogram
8     PH1009        Omar Faruq  Mr. David       Dhaka
9     PH1010      Priya Sharma  Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh  Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury  Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed  Mr. David       Dhaka
13    PH1014        Urmi Akter  Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman  Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman  Ms. Salma  Chattogram
16    PH1017       Afsana Mimi  Mr. Karim       Dhaka
17    PH1018       Babul Ahmed  Ms. Salma      Sylhet
18    PH1019      Faria Rahman  Mr. David  Chattogram
19    PH1020        Nasir Khan  Ms. Salma       Dhaka

In [101]:
print(type(parquet_file))

<class 'pandas.core.frame.DataFrame'>

In [102]:
#json file 

import pandas as pd

# Student data with marks
data = {
    "StudentID": ["PH1001", "PH1002", "PH1004"],
    "FullName": ["Alif Rahman", "Fatima Akhter", "Jannatul Ferdous"],
    "Algorithm Marks": [85, 92, 78],
    "Python Marks": [88, 90, 82]
}

# Create DataFrame
df = pd.DataFrame(data)

# Save DataFrame as JSON file
df.to_json("data.json", orient='records', indent=4)

print("JSON file created: data.json")

JSON file created: data.json

In [103]:
# json file
json_file = pd.read_json('data.json')
print(json_file)

print(type(json_file))

  StudentID          FullName  Algorithm Marks  Python Marks
0    PH1001       Alif Rahman               85            88
1    PH1002     Fatima Akhter               92            90
2    PH1004  Jannatul Ferdous               78            82
<class 'pandas.core.frame.DataFrame'>

### Pandas Basic Funtionalities

In [104]:
#df-> data frame
df = pd.read_csv("D:\Phitron AI_ML\python\student_data (2).csv")
df

   StudentID          FullName  ...  Instructor    Location
0     PH1001       Alif Rahman  ...   Mr. Karim       Dhaka
1     PH1002     Fatima Akhter  ...   Ms. Salma  Chattogram
2     PH1003     Imran Hossain  ...   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram
5     PH1006       Laila Begum  ...   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan  ...   Mr. Karim       Dhaka
7     PH1008       Nadia Islam  ...   Ms. Salma  Chattogram
8     PH1009        Omar Faruq  ...   Mr. David       Dhaka
9     PH1010      Priya Sharma  ...   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh  ...   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury  ...   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed  ...   Mr. David       Dhaka
13    PH1014        Urmi Akter  ...   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman  ...   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman  ...   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi  ...   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed  ...   Ms. Salma      Sylhet
18    PH1019      Faria Rahman  ...   Mr. David  Chattogram
19    PH1020        Nasir Khan  ...   Ms. Salma       Dhaka
20       NaN               NaN  ...         NaN         NaN

[21 rows x 9 columns]

In [105]:
# first er kichu value dekhbo
df.head(4)

  StudentID          FullName  ...  Instructor    Location
0    PH1001       Alif Rahman  ...   Mr. Karim       Dhaka
1    PH1002     Fatima Akhter  ...   Ms. Salma  Chattogram
2    PH1003     Imran Hossain  ...   Mr. Karim       Dhaka
3    PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet

[4 rows x 9 columns]

In [106]:

#last er dik theke kichu vValueError
df.tail(3)

   StudentID      FullName  ...  Instructor    Location
18    PH1019  Faria Rahman  ...   Mr. David  Chattogram
19    PH1020    Nasir Khan  ...   Ms. Salma       Dhaka
20       NaN           NaN  ...         NaN         NaN

[3 rows x 9 columns]

In [107]:
# column
import numpy as np
df.columns

col = np.array(df.columns)
print(col.dtype)

object

In [108]:
#index

df.index

ind= np.array(df.index)
print(ind)
print(ind.dtype)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
int64

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StudentID             20 non-null     object
 1   FullName              20 non-null     object
 2   Data Structure Marks  16 non-null     float64
 3   Algorithm Marks       16 non-null     float64
 4   Python Marks          15 non-null     float64
 5   CompletionStatus      20 non-null     object
 6   EnrollmentDate        20 non-null     object
 7   Instructor            20 non-null     object
 8   Location              20 non-null     object
dtypes: float64(3), object(6)
memory usage: 1.6+ KB

In [110]:
df.sample(10) #Random value dekhabe

   StudentID         FullName  ...  Instructor    Location
1     PH1002    Fatima Akhter  ...   Ms. Salma  Chattogram
11    PH1012  Sadia Chowdhury  ...   Ms. Salma  Chattogram
10    PH1011     Rahim Sheikh  ...   Mr. Karim      Khulna
15    PH1016     Ziaur Rahman  ...   Ms. Salma  Chattogram
8     PH1009       Omar Faruq  ...   Mr. David       Dhaka
16    PH1017      Afsana Mimi  ...   Mr. Karim       Dhaka
20       NaN              NaN  ...         NaN         NaN
2     PH1003    Imran Hossain  ...   Mr. Karim       Dhaka
4     PH1005      Kamal Uddin  ...   Mr. Karim  Chattogram
19    PH1020       Nasir Khan  ...   Ms. Salma       Dhaka

[10 rows x 9 columns]

In [111]:
df.sample(10)

   StudentID        FullName  ...  Instructor    Location
17    PH1018     Babul Ahmed  ...   Ms. Salma      Sylhet
13    PH1014      Urmi Akter  ...   Ms. Salma    Rajshahi
8     PH1009      Omar Faruq  ...   Mr. David       Dhaka
5     PH1006     Laila Begum  ...   Ms. Salma    Rajshahi
7     PH1008     Nadia Islam  ...   Ms. Salma  Chattogram
16    PH1017     Afsana Mimi  ...   Mr. Karim       Dhaka
14    PH1015    Wahiduzzaman  ...   Mr. Karim       Dhaka
9     PH1010    Priya Sharma  ...   Ms. Salma      Sylhet
6     PH1007  Mahmudul Hasan  ...   Mr. Karim       Dhaka
12    PH1013    Tanvir Ahmed  ...   Mr. David       Dhaka

[10 rows x 9 columns]

In [112]:
#statistical values
df.describe()

       Data Structure Marks  Algorithm Marks  Python Marks
count             16.000000        16.000000     15.000000
mean              84.000000        84.000000     85.666667
std                6.501282         6.501282      5.394000
min               72.000000        72.000000     76.000000
25%               79.500000        79.500000     83.000000
50%               85.500000        85.500000     85.000000
75%               88.250000        88.250000     88.500000
max               94.000000        94.000000     95.000000

## Transforming to df from inbuilt datas

In [113]:
my_list = [['Alice', 25], ['Bob', 30], ['Charlie', 28]]

list_df= pd.DataFrame(my_list, columns=['Name', 'Age'], index=[1,2,3])
print(list_df)
print(type(list_df))

      Name  Age
1    Alice   25
2      Bob   30
3  Charlie   28
<class 'pandas.core.frame.DataFrame'>

In [114]:
my_tuple = (('Alice', 25), ('Bob', 30), ('Charlie', 28))

tuple_df = pd.DataFrame(my_tuple,columns=['Name','Age'])

tuple_df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   28

In [115]:
my_dict = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 29,28]
}

dict_df = pd.DataFrame(my_dict)

dict_df

      Name  Age
0    Alice   25
1      Bob   29
2  Charlie   28

In [116]:
my_data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Paris'},
    {'Name': 'Charlie', 'Age': 28}
]

data_df = pd.DataFrame(my_data) 

data_df

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   28       NaN

## Accessing values from DF

In [117]:
df

   StudentID          FullName  ...  Instructor    Location
0     PH1001       Alif Rahman  ...   Mr. Karim       Dhaka
1     PH1002     Fatima Akhter  ...   Ms. Salma  Chattogram
2     PH1003     Imran Hossain  ...   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram
5     PH1006       Laila Begum  ...   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan  ...   Mr. Karim       Dhaka
7     PH1008       Nadia Islam  ...   Ms. Salma  Chattogram
8     PH1009        Omar Faruq  ...   Mr. David       Dhaka
9     PH1010      Priya Sharma  ...   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh  ...   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury  ...   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed  ...   Mr. David       Dhaka
13    PH1014        Urmi Akter  ...   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman  ...   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman  ...   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi  ...   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed  ...   Ms. Salma      Sylhet
18    PH1019      Faria Rahman  ...   Mr. David  Chattogram
19    PH1020        Nasir Khan  ...   Ms. Salma       Dhaka
20       NaN               NaN  ...         NaN         NaN

[21 rows x 9 columns]

In [118]:
#accessing a column 
df['FullName']
type(df['FullName'])

pandas.core.series.Series

In [119]:
# df.loc[ind_start:ind_end, col_start,col_end]

df.loc[0]

StudentID                    PH1001
FullName                Alif Rahman
Data Structure Marks           85.0
Algorithm Marks                85.0
Python Marks                   88.0
CompletionStatus          Completed
EnrollmentDate           2024-01-15
Instructor                Mr. Karim
Location                      Dhaka
Name: 0, dtype: object

In [120]:
type(df.loc[0])

pandas.core.series.Series

In [121]:
#multiple row(normal list)

df.loc[[2,3,19]]

   StudentID          FullName  ...  Instructor  Location
2     PH1003     Imran Hossain  ...   Mr. Karim     Dhaka
3     PH1004  Jannatul Ferdous  ...   Ms. Salma    Sylhet
19    PH1020        Nasir Khan  ...   Ms. Salma     Dhaka

[3 rows x 9 columns]

In [122]:
# multiple row ( range) 

df.loc[3:7]

  StudentID          FullName  ...  Instructor    Location
3    PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4    PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram
5    PH1006       Laila Begum  ...   Ms. Salma    Rajshahi
6    PH1007    Mahmudul Hasan  ...   Mr. Karim       Dhaka
7    PH1008       Nadia Islam  ...   Ms. Salma  Chattogram

[5 rows x 9 columns]

In [123]:
#single column 
df.loc[:,'Python Marks']

0     88.0
1      NaN
2     85.0
3     82.0
4     95.0
5     78.0
6      NaN
7     85.0
8     76.0
9     88.0
10    91.0
11    87.0
12    79.0
13     NaN
14    84.0
15     NaN
16    93.0
17    85.0
18     NaN
19    89.0
20     NaN
Name: Python Marks, dtype: float64

In [124]:
#multiple column 

df.loc[:,'Python Marks']

0     88.0
1      NaN
2     85.0
3     82.0
4     95.0
5     78.0
6      NaN
7     85.0
8     76.0
9     88.0
10    91.0
11    87.0
12    79.0
13     NaN
14    84.0
15     NaN
16    93.0
17    85.0
18     NaN
19    89.0
20     NaN
Name: Python Marks, dtype: float64

In [125]:
type(df.loc[:,['Python Marks','Algorithm Marks']])

pandas.core.frame.DataFrame

In [126]:
# row with columns 

df.loc[3:7,'CompletionStatus']

3      Completed
4    In Progress
5      Completed
6    In Progress
7      Completed
Name: CompletionStatus, dtype: object

## Changing index and columns and iloc

In [127]:
df_index = df.set_index('StudentID')

df_index

                   FullName  Data Structure Marks  ...  Instructor    Location
StudentID                                          ...
PH1001          Alif Rahman                  85.0  ...   Mr. Karim       Dhaka
PH1002        Fatima Akhter                  92.0  ...   Ms. Salma  Chattogram
PH1003        Imran Hossain                  88.0  ...   Mr. Karim       Dhaka
PH1004     Jannatul Ferdous                  78.0  ...   Ms. Salma      Sylhet
PH1005          Kamal Uddin                   NaN  ...   Mr. Karim  Chattogram
PH1006          Laila Begum                  75.0  ...   Ms. Salma    Rajshahi
PH1007       Mahmudul Hasan                  80.0  ...   Mr. Karim       Dhaka
PH1008          Nadia Islam                  81.0  ...   Ms. Salma  Chattogram
PH1009           Omar Faruq                  72.0  ...   Mr. David       Dhaka
PH1010         Priya Sharma                  89.0  ...   Ms. Salma      Sylhet
PH1011         Rahim Sheikh                   NaN  ...   Mr. Karim      Khulna
PH1012      Sadia Chowdhury                  85.0  ...   Ms. Salma  Chattogram
PH1013         Tanvir Ahmed                  75.0  ...   Mr. David       Dhaka
PH1014           Urmi Akter                   NaN  ...   Ms. Salma    Rajshahi
PH1015         Wahiduzzaman                  86.0  ...   Mr. Karim       Dhaka
PH1016         Ziaur Rahman                  94.0  ...   Ms. Salma  Chattogram
PH1017          Afsana Mimi                  90.0  ...   Mr. Karim       Dhaka
PH1018          Babul Ahmed                  88.0  ...   Ms. Salma      Sylhet
PH1019         Faria Rahman                   NaN  ...   Mr. David  Chattogram
PH1020           Nasir Khan                  86.0  ...   Ms. Salma       Dhaka
NaN                     NaN                   NaN  ...         NaN         NaN

[21 rows x 8 columns]

In [128]:
df.loc[3:7]

  StudentID          FullName  ...  Instructor    Location
3    PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4    PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram
5    PH1006       Laila Begum  ...   Ms. Salma    Rajshahi
6    PH1007    Mahmudul Hasan  ...   Mr. Karim       Dhaka
7    PH1008       Nadia Islam  ...   Ms. Salma  Chattogram

[5 rows x 9 columns]

In [129]:
df_index.iloc[:,0:5]

                   FullName  ...  CompletionStatus
StudentID                    ...
PH1001          Alif Rahman  ...         Completed
PH1002        Fatima Akhter  ...       In Progress
PH1003        Imran Hossain  ...         Completed
PH1004     Jannatul Ferdous  ...         Completed
PH1005          Kamal Uddin  ...       In Progress
PH1006          Laila Begum  ...         Completed
PH1007       Mahmudul Hasan  ...       In Progress
PH1008          Nadia Islam  ...         Completed
PH1009           Omar Faruq  ...         Completed
PH1010         Priya Sharma  ...         Completed
PH1011         Rahim Sheikh  ...       In Progress
PH1012      Sadia Chowdhury  ...         Completed
PH1013         Tanvir Ahmed  ...         Completed
PH1014           Urmi Akter  ...       Not Started
PH1015         Wahiduzzaman  ...         Completed
PH1016         Ziaur Rahman  ...       In Progress
PH1017          Afsana Mimi  ...         Completed
PH1018          Babul Ahmed  ...         Completed
PH1019         Faria Rahman  ...       Not Started
PH1020           Nasir Khan  ...         Completed
NaN                     NaN  ...               NaN

[21 rows x 5 columns]

In [130]:
df.rename(columns={'FullName':'Full Name','Algorithm Marks' :'Algo Marks'},inplace=True)

df

   StudentID         Full Name  ...  Instructor    Location
0     PH1001       Alif Rahman  ...   Mr. Karim       Dhaka
1     PH1002     Fatima Akhter  ...   Ms. Salma  Chattogram
2     PH1003     Imran Hossain  ...   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram
5     PH1006       Laila Begum  ...   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan  ...   Mr. Karim       Dhaka
7     PH1008       Nadia Islam  ...   Ms. Salma  Chattogram
8     PH1009        Omar Faruq  ...   Mr. David       Dhaka
9     PH1010      Priya Sharma  ...   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh  ...   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury  ...   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed  ...   Mr. David       Dhaka
13    PH1014        Urmi Akter  ...   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman  ...   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman  ...   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi  ...   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed  ...   Ms. Salma      Sylhet
18    PH1019      Faria Rahman  ...   Mr. David  Chattogram
19    PH1020        Nasir Khan  ...   Ms. Salma       Dhaka
20       NaN               NaN  ...         NaN         NaN

[21 rows x 9 columns]

## Changing values and Iteration

In [131]:
df

   StudentID         Full Name  ...  Instructor    Location
0     PH1001       Alif Rahman  ...   Mr. Karim       Dhaka
1     PH1002     Fatima Akhter  ...   Ms. Salma  Chattogram
2     PH1003     Imran Hossain  ...   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram
5     PH1006       Laila Begum  ...   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan  ...   Mr. Karim       Dhaka
7     PH1008       Nadia Islam  ...   Ms. Salma  Chattogram
8     PH1009        Omar Faruq  ...   Mr. David       Dhaka
9     PH1010      Priya Sharma  ...   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh  ...   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury  ...   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed  ...   Mr. David       Dhaka
13    PH1014        Urmi Akter  ...   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman  ...   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman  ...   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi  ...   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed  ...   Ms. Salma      Sylhet
18    PH1019      Faria Rahman  ...   Mr. David  Chattogram
19    PH1020        Nasir Khan  ...   Ms. Salma       Dhaka
20       NaN               NaN  ...         NaN         NaN

[21 rows x 9 columns]

In [132]:
# row deletion
df.drop(0, inplace=True)

df

   StudentID         Full Name  ...  Instructor    Location
1     PH1002     Fatima Akhter  ...   Ms. Salma  Chattogram
2     PH1003     Imran Hossain  ...   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous  ...   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin  ...   Mr. Karim  Chattogram
5     PH1006       Laila Begum  ...   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan  ...   Mr. Karim       Dhaka
7     PH1008       Nadia Islam  ...   Ms. Salma  Chattogram
8     PH1009        Omar Faruq  ...   Mr. David       Dhaka
9     PH1010      Priya Sharma  ...   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh  ...   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury  ...   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed  ...   Mr. David       Dhaka
13    PH1014        Urmi Akter  ...   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman  ...   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman  ...   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi  ...   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed  ...   Ms. Salma      Sylhet
18    PH1019      Faria Rahman  ...   Mr. David  Chattogram
19    PH1020        Nasir Khan  ...   Ms. Salma       Dhaka
20       NaN               NaN  ...         NaN         NaN

[20 rows x 9 columns]

In [133]:
# column deletion 

df.drop('Instructor',axis=1, inplace=True)

df

   StudentID         Full Name  ...  EnrollmentDate    Location
1     PH1002     Fatima Akhter  ...      2024-01-20  Chattogram
2     PH1003     Imran Hossain  ...      2024-02-10       Dhaka
3     PH1004  Jannatul Ferdous  ...      2024-02-12      Sylhet
4     PH1005       Kamal Uddin  ...      2024-03-05  Chattogram
5     PH1006       Laila Begum  ...      2024-03-08    Rajshahi
6     PH1007    Mahmudul Hasan  ...      2024-04-01       Dhaka
7     PH1008       Nadia Islam  ...      2024-04-22  Chattogram
8     PH1009        Omar Faruq  ...      2024-05-16       Dhaka
9     PH1010      Priya Sharma  ...      2024-05-20      Sylhet
10    PH1011      Rahim Sheikh  ...      2024-06-11      Khulna
11    PH1012   Sadia Chowdhury  ...      2024-06-14  Chattogram
12    PH1013      Tanvir Ahmed  ...      2024-07-02       Dhaka
13    PH1014        Urmi Akter  ...      2024-07-09    Rajshahi
14    PH1015      Wahiduzzaman  ...      2024-08-18       Dhaka
15    PH1016      Ziaur Rahman  ...      2024-08-21  Chattogram
16    PH1017       Afsana Mimi  ...      2025-09-01       Dhaka
17    PH1018       Babul Ahmed  ...      2025-09-05      Sylhet
18    PH1019      Faria Rahman  ...      2025-09-15  Chattogram
19    PH1020        Nasir Khan  ...      2025-10-02       Dhaka
20       NaN               NaN  ...             NaN         NaN

[20 rows x 8 columns]

In [134]:
df.loc[1,'Python Marks'] = 90 

df.loc[1,'CompletionStatus'] = 'Completed'
df.head(5)

  StudentID         Full Name  ...  EnrollmentDate    Location
1    PH1002     Fatima Akhter  ...      2024-01-20  Chattogram
2    PH1003     Imran Hossain  ...      2024-02-10       Dhaka
3    PH1004  Jannatul Ferdous  ...      2024-02-12      Sylhet
4    PH1005       Kamal Uddin  ...      2024-03-05  Chattogram
5    PH1006       Laila Begum  ...      2024-03-08    Rajshahi

[5 rows x 8 columns]

In [135]:
df.loc[1:3,'Python Marks']+=2 
df.head()

  StudentID         Full Name  ...  EnrollmentDate    Location
1    PH1002     Fatima Akhter  ...      2024-01-20  Chattogram
2    PH1003     Imran Hossain  ...      2024-02-10       Dhaka
3    PH1004  Jannatul Ferdous  ...      2024-02-12      Sylhet
4    PH1005       Kamal Uddin  ...      2024-03-05  Chattogram
5    PH1006       Laila Begum  ...      2024-03-08    Rajshahi

[5 rows x 8 columns]

In [136]:
for i,series in df.iterrows():
    print( f"{i} : {series}")

1 : StudentID                      PH1002
Full Name               Fatima Akhter
Data Structure Marks             92.0
Algo Marks                       92.0
Python Marks                     92.0
CompletionStatus            Completed
EnrollmentDate             2024-01-20
Location                   Chattogram
Name: 1, dtype: object
2 : StudentID                      PH1003
Full Name               Imran Hossain
Data Structure Marks             88.0
Algo Marks                       88.0
Python Marks                     87.0
CompletionStatus            Completed
EnrollmentDate             2024-02-10
Location                        Dhaka
Name: 2, dtype: object
3 : StudentID                         PH1004
Full Name               Jannatul Ferdous
Data Structure Marks                78.0
Algo Marks                          78.0
Python Marks                        84.0
CompletionStatus               Completed
EnrollmentDate                2024-02-12
Location                          Sylhet
Name: 3, dtype: object
4 : StudentID                    PH1005
Full Name               Kamal Uddin
Data Structure Marks            NaN
Algo Marks                      NaN
Python Marks                   95.0
CompletionStatus        In Progress
EnrollmentDate           2024-03-05
Location                 Chattogram
Name: 4, dtype: object
5 : StudentID                    PH1006
Full Name               Laila Begum
Data Structure Marks           75.0
Algo Marks                     75.0
Python Marks                   78.0
CompletionStatus          Completed
EnrollmentDate           2024-03-08
Location                   Rajshahi
Name: 5, dtype: object
6 : StudentID                       PH1007
Full Name               Mahmudul Hasan
Data Structure Marks              80.0
Algo Marks                        80.0
Python Marks                       NaN
CompletionStatus           In Progress
EnrollmentDate              2024-04-01
Location                         Dhaka
Name: 6, dtype: object
7 : StudentID                    PH1008
Full Name               Nadia Islam
Data Structure Marks           81.0
Algo Marks                     81.0
Python Marks                   85.0
CompletionStatus          Completed
EnrollmentDate           2024-04-22
Location                 Chattogram
Name: 7, dtype: object
8 : StudentID                   PH1009
Full Name               Omar Faruq
Data Structure Marks          72.0
Algo Marks                    72.0
Python Marks                  76.0
CompletionStatus         Completed
EnrollmentDate          2024-05-16
Location                     Dhaka
Name: 8, dtype: object
9 : StudentID                     PH1010
Full Name               Priya Sharma
Data Structure Marks            89.0
Algo Marks                      89.0
Python Marks                    88.0
CompletionStatus           Completed
EnrollmentDate            2024-05-20
Location                      Sylhet
Name: 9, dtype: object
10 : StudentID                     PH1011
Full Name               Rahim Sheikh
Data Structure Marks             NaN
Algo Marks                       NaN
Python Marks                    91.0
CompletionStatus         In Progress
EnrollmentDate            2024-06-11
Location                      Khulna
Name: 10, dtype: object
11 : StudentID                        PH1012
Full Name               Sadia Chowdhury
Data Structure Marks               85.0
Algo Marks                         85.0
Python Marks                       87.0
CompletionStatus              Completed
EnrollmentDate               2024-06-14
Location                     Chattogram
Name: 11, dtype: object
12 : StudentID                     PH1013
Full Name               Tanvir Ahmed
Data Structure Marks            75.0
Algo Marks                      75.0
Python Marks                    79.0
CompletionStatus           Completed
EnrollmentDate            2024-07-02
Location                       Dhaka
Name: 12, dtype: object
13 : StudentID                    PH1014
Full Name                Urmi Akter
Data Structure Marks            NaN
Algo Marks                      NaN
Python Marks                    NaN
CompletionStatus        Not Started
EnrollmentDate           2024-07-09
Location                   Rajshahi
Name: 13, dtype: object
14 : StudentID                     PH1015
Full Name               Wahiduzzaman
Data Structure Marks            86.0
Algo Marks                      86.0
Python Marks                    84.0
CompletionStatus           Completed
EnrollmentDate            2024-08-18
Location                       Dhaka
Name: 14, dtype: object
15 : StudentID                     PH1016
Full Name               Ziaur Rahman
Data Structure Marks            94.0
Algo Marks                      94.0
Python Marks                     NaN
CompletionStatus         In Progress
EnrollmentDate            2024-08-21
Location                  Chattogram
Name: 15, dtype: object
16 : StudentID                    PH1017
Full Name               Afsana Mimi
Data Structure Marks           90.0
Algo Marks                     90.0
Python Marks                   93.0
CompletionStatus          Completed
EnrollmentDate           2025-09-01
Location                      Dhaka
Name: 16, dtype: object
17 : StudentID                    PH1018
Full Name               Babul Ahmed
Data Structure Marks           88.0
Algo Marks                     88.0
Python Marks                   85.0
CompletionStatus          Completed
EnrollmentDate           2025-09-05
Location                     Sylhet
Name: 17, dtype: object
18 : StudentID                     PH1019
Full Name               Faria Rahman
Data Structure Marks             NaN
Algo Marks                       NaN
Python Marks                     NaN
CompletionStatus         Not Started
EnrollmentDate            2025-09-15
Location                  Chattogram
Name: 18, dtype: object
19 : StudentID                   PH1020
Full Name               Nasir Khan
Data Structure Marks          86.0
Algo Marks                    86.0
Python Marks                  89.0
CompletionStatus         Completed
EnrollmentDate          2025-10-02
Location                     Dhaka
Name: 19, dtype: object
20 : StudentID               NaN
Full Name               NaN
Data Structure Marks    NaN
Algo Marks              NaN
Python Marks            NaN
CompletionStatus        NaN
EnrollmentDate          NaN
Location                NaN
Name: 20, dtype: object

In [137]:
for i in df.itertuples(index=False): 
    print(i)

Pandas(StudentID='PH1002', _1='Fatima Akhter', _2=92.0, _3=92.0, _4=92.0, CompletionStatus='Completed', EnrollmentDate='2024-01-20', Location='Chattogram')
Pandas(StudentID='PH1003', _1='Imran Hossain', _2=88.0, _3=88.0, _4=87.0, CompletionStatus='Completed', EnrollmentDate='2024-02-10', Location='Dhaka')
Pandas(StudentID='PH1004', _1='Jannatul Ferdous', _2=78.0, _3=78.0, _4=84.0, CompletionStatus='Completed', EnrollmentDate='2024-02-12', Location='Sylhet')
Pandas(StudentID='PH1005', _1='Kamal Uddin', _2=nan, _3=nan, _4=95.0, CompletionStatus='In Progress', EnrollmentDate='2024-03-05', Location='Chattogram')
Pandas(StudentID='PH1006', _1='Laila Begum', _2=75.0, _3=75.0, _4=78.0, CompletionStatus='Completed', EnrollmentDate='2024-03-08', Location='Rajshahi')
Pandas(StudentID='PH1007', _1='Mahmudul Hasan', _2=80.0, _3=80.0, _4=nan, CompletionStatus='In Progress', EnrollmentDate='2024-04-01', Location='Dhaka')
Pandas(StudentID='PH1008', _1='Nadia Islam', _2=81.0, _3=81.0, _4=85.0, CompletionStatus='Completed', EnrollmentDate='2024-04-22', Location='Chattogram')
Pandas(StudentID='PH1009', _1='Omar Faruq', _2=72.0, _3=72.0, _4=76.0, CompletionStatus='Completed', EnrollmentDate='2024-05-16', Location='Dhaka')
Pandas(StudentID='PH1010', _1='Priya Sharma', _2=89.0, _3=89.0, _4=88.0, CompletionStatus='Completed', EnrollmentDate='2024-05-20', Location='Sylhet')
Pandas(StudentID='PH1011', _1='Rahim Sheikh', _2=nan, _3=nan, _4=91.0, CompletionStatus='In Progress', EnrollmentDate='2024-06-11', Location='Khulna')
Pandas(StudentID='PH1012', _1='Sadia Chowdhury', _2=85.0, _3=85.0, _4=87.0, CompletionStatus='Completed', EnrollmentDate='2024-06-14', Location='Chattogram')
Pandas(StudentID='PH1013', _1='Tanvir Ahmed', _2=75.0, _3=75.0, _4=79.0, CompletionStatus='Completed', EnrollmentDate='2024-07-02', Location='Dhaka')
Pandas(StudentID='PH1014', _1='Urmi Akter', _2=nan, _3=nan, _4=nan, CompletionStatus='Not Started', EnrollmentDate='2024-07-09', Location='Rajshahi')
Pandas(StudentID='PH1015', _1='Wahiduzzaman', _2=86.0, _3=86.0, _4=84.0, CompletionStatus='Completed', EnrollmentDate='2024-08-18', Location='Dhaka')
Pandas(StudentID='PH1016', _1='Ziaur Rahman', _2=94.0, _3=94.0, _4=nan, CompletionStatus='In Progress', EnrollmentDate='2024-08-21', Location='Chattogram')
Pandas(StudentID='PH1017', _1='Afsana Mimi', _2=90.0, _3=90.0, _4=93.0, CompletionStatus='Completed', EnrollmentDate='2025-09-01', Location='Dhaka')
Pandas(StudentID='PH1018', _1='Babul Ahmed', _2=88.0, _3=88.0, _4=85.0, CompletionStatus='Completed', EnrollmentDate='2025-09-05', Location='Sylhet')
Pandas(StudentID='PH1019', _1='Faria Rahman', _2=nan, _3=nan, _4=nan, CompletionStatus='Not Started', EnrollmentDate='2025-09-15', Location='Chattogram')
Pandas(StudentID='PH1020', _1='Nasir Khan', _2=86.0, _3=86.0, _4=89.0, CompletionStatus='Completed', EnrollmentDate='2025-10-02', Location='Dhaka')
Pandas(StudentID=nan, _1=nan, _2=nan, _3=nan, _4=nan, CompletionStatus=nan, EnrollmentDate=nan, Location=nan)

## Sorting

In [138]:
df

   StudentID         Full Name  ...  EnrollmentDate    Location
1     PH1002     Fatima Akhter  ...      2024-01-20  Chattogram
2     PH1003     Imran Hossain  ...      2024-02-10       Dhaka
3     PH1004  Jannatul Ferdous  ...      2024-02-12      Sylhet
4     PH1005       Kamal Uddin  ...      2024-03-05  Chattogram
5     PH1006       Laila Begum  ...      2024-03-08    Rajshahi
6     PH1007    Mahmudul Hasan  ...      2024-04-01       Dhaka
7     PH1008       Nadia Islam  ...      2024-04-22  Chattogram
8     PH1009        Omar Faruq  ...      2024-05-16       Dhaka
9     PH1010      Priya Sharma  ...      2024-05-20      Sylhet
10    PH1011      Rahim Sheikh  ...      2024-06-11      Khulna
11    PH1012   Sadia Chowdhury  ...      2024-06-14  Chattogram
12    PH1013      Tanvir Ahmed  ...      2024-07-02       Dhaka
13    PH1014        Urmi Akter  ...      2024-07-09    Rajshahi
14    PH1015      Wahiduzzaman  ...      2024-08-18       Dhaka
15    PH1016      Ziaur Rahman  ...      2024-08-21  Chattogram
16    PH1017       Afsana Mimi  ...      2025-09-01       Dhaka
17    PH1018       Babul Ahmed  ...      2025-09-05      Sylhet
18    PH1019      Faria Rahman  ...      2025-09-15  Chattogram
19    PH1020        Nasir Khan  ...      2025-10-02       Dhaka
20       NaN               NaN  ...             NaN         NaN

[20 rows x 8 columns]

In [139]:
copy = df.sort_values('Data Structure Marks') 

copy

   StudentID         Full Name  ...  EnrollmentDate    Location
8     PH1009        Omar Faruq  ...      2024-05-16       Dhaka
5     PH1006       Laila Begum  ...      2024-03-08    Rajshahi
12    PH1013      Tanvir Ahmed  ...      2024-07-02       Dhaka
3     PH1004  Jannatul Ferdous  ...      2024-02-12      Sylhet
6     PH1007    Mahmudul Hasan  ...      2024-04-01       Dhaka
7     PH1008       Nadia Islam  ...      2024-04-22  Chattogram
11    PH1012   Sadia Chowdhury  ...      2024-06-14  Chattogram
14    PH1015      Wahiduzzaman  ...      2024-08-18       Dhaka
19    PH1020        Nasir Khan  ...      2025-10-02       Dhaka
17    PH1018       Babul Ahmed  ...      2025-09-05      Sylhet
2     PH1003     Imran Hossain  ...      2024-02-10       Dhaka
9     PH1010      Priya Sharma  ...      2024-05-20      Sylhet
16    PH1017       Afsana Mimi  ...      2025-09-01       Dhaka
1     PH1002     Fatima Akhter  ...      2024-01-20  Chattogram
15    PH1016      Ziaur Rahman  ...      2024-08-21  Chattogram
4     PH1005       Kamal Uddin  ...      2024-03-05  Chattogram
10    PH1011      Rahim Sheikh  ...      2024-06-11      Khulna
13    PH1014        Urmi Akter  ...      2024-07-09    Rajshahi
18    PH1019      Faria Rahman  ...      2025-09-15  Chattogram
20       NaN               NaN  ...             NaN         NaN

[20 rows x 8 columns]

In [140]:
copy = df.sort_values(['Data Structure Marks'],ascending=False) 

copy

   StudentID         Full Name  ...  EnrollmentDate    Location
15    PH1016      Ziaur Rahman  ...      2024-08-21  Chattogram
1     PH1002     Fatima Akhter  ...      2024-01-20  Chattogram
16    PH1017       Afsana Mimi  ...      2025-09-01       Dhaka
9     PH1010      Priya Sharma  ...      2024-05-20      Sylhet
17    PH1018       Babul Ahmed  ...      2025-09-05      Sylhet
2     PH1003     Imran Hossain  ...      2024-02-10       Dhaka
14    PH1015      Wahiduzzaman  ...      2024-08-18       Dhaka
19    PH1020        Nasir Khan  ...      2025-10-02       Dhaka
11    PH1012   Sadia Chowdhury  ...      2024-06-14  Chattogram
7     PH1008       Nadia Islam  ...      2024-04-22  Chattogram
6     PH1007    Mahmudul Hasan  ...      2024-04-01       Dhaka
3     PH1004  Jannatul Ferdous  ...      2024-02-12      Sylhet
5     PH1006       Laila Begum  ...      2024-03-08    Rajshahi
12    PH1013      Tanvir Ahmed  ...      2024-07-02       Dhaka
8     PH1009        Omar Faruq  ...      2024-05-16       Dhaka
4     PH1005       Kamal Uddin  ...      2024-03-05  Chattogram
10    PH1011      Rahim Sheikh  ...      2024-06-11      Khulna
13    PH1014        Urmi Akter  ...      2024-07-09    Rajshahi
18    PH1019      Faria Rahman  ...      2025-09-15  Chattogram
20       NaN               NaN  ...             NaN         NaN

[20 rows x 8 columns]

In [141]:
copy = df.sort_values(['Data Structure Marks','Python Marks'],ascending=False) 

copy

   StudentID         Full Name  ...  EnrollmentDate    Location
15    PH1016      Ziaur Rahman  ...      2024-08-21  Chattogram
1     PH1002     Fatima Akhter  ...      2024-01-20  Chattogram
16    PH1017       Afsana Mimi  ...      2025-09-01       Dhaka
9     PH1010      Priya Sharma  ...      2024-05-20      Sylhet
2     PH1003     Imran Hossain  ...      2024-02-10       Dhaka
17    PH1018       Babul Ahmed  ...      2025-09-05      Sylhet
19    PH1020        Nasir Khan  ...      2025-10-02       Dhaka
14    PH1015      Wahiduzzaman  ...      2024-08-18       Dhaka
11    PH1012   Sadia Chowdhury  ...      2024-06-14  Chattogram
7     PH1008       Nadia Islam  ...      2024-04-22  Chattogram
6     PH1007    Mahmudul Hasan  ...      2024-04-01       Dhaka
3     PH1004  Jannatul Ferdous  ...      2024-02-12      Sylhet
12    PH1013      Tanvir Ahmed  ...      2024-07-02       Dhaka
5     PH1006       Laila Begum  ...      2024-03-08    Rajshahi
8     PH1009        Omar Faruq  ...      2024-05-16       Dhaka
4     PH1005       Kamal Uddin  ...      2024-03-05  Chattogram
10    PH1011      Rahim Sheikh  ...      2024-06-11      Khulna
13    PH1014        Urmi Akter  ...      2024-07-09    Rajshahi
18    PH1019      Faria Rahman  ...      2025-09-15  Chattogram
20       NaN               NaN  ...             NaN         NaN

[20 rows x 8 columns]

In [142]:
copy = df.sort_values(['Data Structure Marks','Python Marks'],ascending=[0,1]) 

copy

   StudentID         Full Name  ...  EnrollmentDate    Location
15    PH1016      Ziaur Rahman  ...      2024-08-21  Chattogram
1     PH1002     Fatima Akhter  ...      2024-01-20  Chattogram
16    PH1017       Afsana Mimi  ...      2025-09-01       Dhaka
9     PH1010      Priya Sharma  ...      2024-05-20      Sylhet
17    PH1018       Babul Ahmed  ...      2025-09-05      Sylhet
2     PH1003     Imran Hossain  ...      2024-02-10       Dhaka
14    PH1015      Wahiduzzaman  ...      2024-08-18       Dhaka
19    PH1020        Nasir Khan  ...      2025-10-02       Dhaka
11    PH1012   Sadia Chowdhury  ...      2024-06-14  Chattogram
7     PH1008       Nadia Islam  ...      2024-04-22  Chattogram
6     PH1007    Mahmudul Hasan  ...      2024-04-01       Dhaka
3     PH1004  Jannatul Ferdous  ...      2024-02-12      Sylhet
5     PH1006       Laila Begum  ...      2024-03-08    Rajshahi
12    PH1013      Tanvir Ahmed  ...      2024-07-02       Dhaka
8     PH1009        Omar Faruq  ...      2024-05-16       Dhaka
10    PH1011      Rahim Sheikh  ...      2024-06-11      Khulna
4     PH1005       Kamal Uddin  ...      2024-03-05  Chattogram
13    PH1014        Urmi Akter  ...      2024-07-09    Rajshahi
18    PH1019      Faria Rahman  ...      2025-09-15  Chattogram
20       NaN               NaN  ...             NaN         NaN

[20 rows x 8 columns]

## Filtering data based on condition

In [143]:
df

   StudentID         Full Name  ...  EnrollmentDate    Location
1     PH1002     Fatima Akhter  ...      2024-01-20  Chattogram
2     PH1003     Imran Hossain  ...      2024-02-10       Dhaka
3     PH1004  Jannatul Ferdous  ...      2024-02-12      Sylhet
4     PH1005       Kamal Uddin  ...      2024-03-05  Chattogram
5     PH1006       Laila Begum  ...      2024-03-08    Rajshahi
6     PH1007    Mahmudul Hasan  ...      2024-04-01       Dhaka
7     PH1008       Nadia Islam  ...      2024-04-22  Chattogram
8     PH1009        Omar Faruq  ...      2024-05-16       Dhaka
9     PH1010      Priya Sharma  ...      2024-05-20      Sylhet
10    PH1011      Rahim Sheikh  ...      2024-06-11      Khulna
11    PH1012   Sadia Chowdhury  ...      2024-06-14  Chattogram
12    PH1013      Tanvir Ahmed  ...      2024-07-02       Dhaka
13    PH1014        Urmi Akter  ...      2024-07-09    Rajshahi
14    PH1015      Wahiduzzaman  ...      2024-08-18       Dhaka
15    PH1016      Ziaur Rahman  ...      2024-08-21  Chattogram
16    PH1017       Afsana Mimi  ...      2025-09-01       Dhaka
17    PH1018       Babul Ahmed  ...      2025-09-05      Sylhet
18    PH1019      Faria Rahman  ...      2025-09-15  Chattogram
19    PH1020        Nasir Khan  ...      2025-10-02       Dhaka
20       NaN               NaN  ...             NaN         NaN

[20 rows x 8 columns]

In [144]:
not_started = df.loc[df['CompletionStatus']=='Not Started']

not_started

   StudentID     Full Name  ...  EnrollmentDate    Location
13    PH1014    Urmi Akter  ...      2024-07-09    Rajshahi
18    PH1019  Faria Rahman  ...      2025-09-15  Chattogram

[2 rows x 8 columns]

In [145]:
completed = df.loc[df['CompletionStatus']=='Completed']

completed

   StudentID         Full Name  ...  EnrollmentDate    Location
1     PH1002     Fatima Akhter  ...      2024-01-20  Chattogram
2     PH1003     Imran Hossain  ...      2024-02-10       Dhaka
3     PH1004  Jannatul Ferdous  ...      2024-02-12      Sylhet
5     PH1006       Laila Begum  ...      2024-03-08    Rajshahi
7     PH1008       Nadia Islam  ...      2024-04-22  Chattogram
8     PH1009        Omar Faruq  ...      2024-05-16       Dhaka
9     PH1010      Priya Sharma  ...      2024-05-20      Sylhet
11    PH1012   Sadia Chowdhury  ...      2024-06-14  Chattogram
12    PH1013      Tanvir Ahmed  ...      2024-07-02       Dhaka
14    PH1015      Wahiduzzaman  ...      2024-08-18       Dhaka
16    PH1017       Afsana Mimi  ...      2025-09-01       Dhaka
17    PH1018       Babul Ahmed  ...      2025-09-05      Sylhet
19    PH1020        Nasir Khan  ...      2025-10-02       Dhaka

[13 rows x 8 columns]

In [146]:
# completed and ds marks is greater or equal 90 
completed_ds90 = df.loc[(df['CompletionStatus']=='Completed') & (df['Data Structure Marks']>=90)]
completed_ds90

   StudentID      Full Name  ...  EnrollmentDate    Location
1     PH1002  Fatima Akhter  ...      2024-01-20  Chattogram
16    PH1017    Afsana Mimi  ...      2025-09-01       Dhaka

[2 rows x 8 columns]