Create a Pandas Series from the list [10, 20, 30, 40, 50]. Print the Series, its index, and data type. Then create a DataFrame with columns "Name", "Age", and "City" containing at least 4 rows of data.

In [2]:
import pandas as pd

# Step 1: Create a Pandas Series
data_list = [10, 20, 30, 40, 50]
series = pd.Series(data_list)

# Print the Series
print(series)

# Print the index of the Series
print(series.index)

# Print the data type of the Series
print(series.dtype)

# Step 2: Create a DataFrame
data_dict = {
    "Name": ["Rahim", "Karim", "Fatima", "Mithila"],
    "Age": [25, 30, 22, 28],
    "City": ["Dhaka", "Chittagong", "Khulna", "Sylhet"]
}


df = pd.DataFrame(data_dict)

# Print the DataFrame
print(df)

0    10
1    20
2    30
3    40
4    50
dtype: int64
RangeIndex(start=0, stop=5, step=1)
int64
      Name  Age        City
0    Rahim   25       Dhaka
1    Karim   30  Chittagong
2   Fatima   22      Khulna
3  Mithila   28      Sylhet

Using any DataFrame, write code to print the number of rows and columns, column data types (.dtypes), and summary statistics (.describe()).

In [6]:
data = {
    "Name": ["Rahim", "Karim", "Fatima", "Mithila"],
    "Age": [25, 30, 22, 28],
    "City": ["Dhaka", "Chittagong", "Khulna", "Sylhet"]
}

df = pd.DataFrame(data)

# Number of rows and columns
print(df.shape)

# Column data types
print(df.dtypes)

# Summary statistics for numeric columns
print(df.describe())

(4, 3)
Name    object
Age      int64
City    object
dtype: object
         Age
count   4.00
mean   26.25
std     3.50
min    22.00
25%    24.25
50%    26.50
75%    28.50
max    30.00

Create a DataFrame using the dictionary below:
data = {
    'Product': ['Pen', 'Book', 'Eraser', 'Pencil'],
    'Price': [10, 50, 5, 7],
    'Quantity': [100, 60, 200, 150]
}

Print .columns, .index. Access a single column and one full row.

In [7]:
data = {
    'Product': ['Pen', 'Book', 'Eraser', 'Pencil'],
    'Price': [10, 50, 5, 7],
    'Quantity': [100, 60, 200, 150]
}

df = pd.DataFrame(data)

# Print column names
print(df.columns)

# Print index
print(df.index)

# Access a single column
print(df['Price'])

# Access one full row 
print(df.loc[1])

Index(['Product', 'Price', 'Quantity'], dtype='object')
RangeIndex(start=0, stop=4, step=1)
0    10
1    50
2     5
3     7
Name: Price, dtype: int64
Product     Book
Price         50
Quantity      60
Name: 1, dtype: object

Using .loc[] and .iloc[], show the first row, the second column, and 
a 2×2 block    from the middle of your DataFrame.

In [8]:
data = {
    'Product': ['Pen', 'Book', 'Eraser', 'Pencil'],
    'Price': [10, 50, 5, 7],
    'Quantity': [100, 60, 200, 150]
}

df = pd.DataFrame(data)

# 1. First row
print(df.loc[0])
print(df.iloc[0])

# 2. Second column
print(df.loc[:, 'Price'])
print(df.iloc[:, 1])


print(df.loc[1:2, ['Price', 'Quantity']])
print(df.iloc[1:3, 1:3])

Product     Pen
Price        10
Quantity    100
Name: 0, dtype: object
Product     Pen
Price        10
Quantity    100
Name: 0, dtype: object
0    10
1    50
2     5
3     7
Name: Price, dtype: int64
0    10
1    50
2     5
3     7
Name: Price, dtype: int64
   Price  Quantity
1     50        60
2      5       200
   Price  Quantity
1     50        60
2      5       200

Create a 4×3 DataFrame of student names and marks. 
Drop one column using .drop(), drop one row by index

In [10]:
data = {
    "Name": ["Rahim", "Karim", "Fatima", "Mithila"],
    "Math": [85, 90, 78, 92],
    "English": [80, 88, 75, 85]
}

df = pd.DataFrame(data)
print(df)

df_dropped_col = df.drop(columns=['English'])
print(df_dropped_col)

df_dropped_row = df.drop(index=2)
print(df_dropped_row)

      Name  Math  English
0    Rahim    85       80
1    Karim    90       88
2   Fatima    78       75
3  Mithila    92       85
      Name  Math
0    Rahim    85
1    Karim    90
2   Fatima    78
3  Mithila    92
      Name  Math  English
0    Rahim    85       80
1    Karim    90       88
3  Mithila    92       85

Create a DataFrame of employees with columns "Name", "Department", and "Salary".
Sort it by "Salary" in ascending order and by "Name" in descending order.

In [13]:
data = {
    "Name": ["Rahim", "Karim", "Fatima", "Mithila"],
    "Department": ["HR", "IT", "Finance", "Marketing"],
    "Salary": [50000, 75000, 60000, 65000]
}

df = pd.DataFrame(data)
print(df)

df_sorted = df.sort_values(by=["Salary", "Name"], ascending=[True, False])
print(df_sorted)

      Name Department  Salary
0    Rahim         HR   50000
1    Karim         IT   75000
2   Fatima    Finance   60000
3  Mithila  Marketing   65000
      Name Department  Salary
0    Rahim         HR   50000
2   Fatima    Finance   60000
3  Mithila  Marketing   65000
1    Karim         IT   75000

Create a DataFrame of 8 students with columns "Name" and "Score". 
Filter and print students with Score > 60 and those with Score < 40.

In [ ]:
data = {
    "Name": ["Rahim", "Karim", "Fatima", "Mithila", "Amina", "Tanvir", "Sadia", "Jahid"],
    "Score": [75, 55, 82, 38, 65, 30, 90, 45]
}

df = pd.DataFrame(data)
print(df)

high_scores = df[df["Score"] > 60]
print("\nStudents with Score > 60:\n", high_scores)

# Step 3: Filter students with Score < 40
low_scores = df[df["Score"] < 40]
print("\nStudents with Score < 40:\n", low_scores)